<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>FullStack Social Media</h1>
    <div class="row">
      <form action ="/home" method="get" id="signup">
        <h2>Create Account</h2>
        <label for="username">Username:</label><br>
        <input type="text" name="username" value="" id="username"><br>
        <label for="email">Email:</label><br>
        <input type="email" name="email" value="" id="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" value="" id="password"><br><br>
        <button id="submit" type="button">Create account</button>
      </form>
      <p id="status"></p>

      <form action ="/home" method="get" id="login">
        <h2>Login</h2>
        <label for="username">Username:</label><br>
        <input type="text" name="username" value="" id="login-username"><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" value="" id="login-password"><br><br>
        <button id="login" type="button">Login</button>
      </form>
      <p id="loginstatus"></p>
    </div>
  <script src="/static/index.js"></script>
</body>
</html>
